<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/grid.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/AdminPanelStyle.css">

</head>
<body>
    <div class="container_12">
        <div class="push_2 grid_8">
            menu goes here
        </div>
    </div>
    @RenderBody()
</body>
</html>