<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <link href="~/css/grid.css" rel="stylesheet">
    <link href="~/css/normalize.css" rel="stylesheet">
    <link href="~/css/UserPagesStyle.css" rel="stylesheet">
    <link href="~/css/prism.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300,400" rel="stylesheet">
</head>
<body>
    <div class="nav-section">
        <div class="container_12">
            <div class="grid_2">
                <a href="/dashboard">Home</a>
            </div>
            <div class="pull_1 grid_4">
                <form action="/search" method="get">
                    <input type="text" name="query">
                </form>
            </div>
            <div class="push_1 grid_6">
                <nav class="menu">
                    <a class="@ViewBag.Notifications" href="~/Notifications">Notifications</a>
                    <a href="~/u/@User.Identity.Name">Profile</a>
                    <a href="~/ProfileSettings">Settings</a>
                    <form action="/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </nav>
            </div>
        </div>
    </div>
    @RenderBody()
    <script src="~/js/prism.js"></script> 
</body>
</html>