@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Opera.Models.UserLoginAndRegister
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Opera - Inicio</title>

    <link href="css/grid.css" rel="stylesheet" />
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/LoginAndRegister.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro" rel="stylesheet">
</head>
<body>
    <div class="container_12">
        <div class="grid_10 push_1 white-box">
            <div class="grid_5 dark-picture">
                <div class="sobreposision">
                    <div class="lema">
                        <p>
                            Unete al lado oscuro.
                        </p>
                    </div>
                    <div class="nav">
                        <nav>
                            <a href="#">Blog</a>
                            <a href="#">Acerca</a>
                            <a href="#">Terminos</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="grid_4 Register-SignUp-Form Margin-Fix">
                <form action="/LoginBD" method="post">
                    <p>
                        <label>Usuario</label>
                        <input asp-for="UserName"  type="text"/>
                    </p>
                    <p>
                        <label>Contrasena</label>
                        <input asp-for="Password" type="Password"/>
                    </p>
                    <button type="submit">Entrar</button>
                    <a href="/Registro">Registro.</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>