@{
    Layout = "_AppLayout";
}

<div class="container_12">
    <div class="push_1 grid_8">
        a
    </div>
    <div class="push_1 grid_3">
        <div class="ask-button">
            <a href="/ask">Ask!</a>
        </div>
    </div>
</div>