@model Opera.Models.Question
@{
    Layout = "_AppLayout";
}

<div class="container_12">
    <div class="grid_7">
        <h1>@Model.Title_Question.Substring(0, 1).ToUpper()@Model.Title_Question.Substring(1, @Model.Title_Question.Length-1)</h1>
        <div id="test"></div>
    </div>
</div>

<script type="text/javascript">
    var x = "@(ViewBag.Contenido)";
    x = x.replace(new RegExp("&lt;", "g"), "<").replace(new RegExp("&gt;", "g"), ">").replace(new RegExp("&quot;", "g"), "\"").replace(new RegExp("&amp;quot;", "g"), "\"");
    document.getElementById("test").insertAdjacentHTML("beforeend", x);
</script>