@model IQueryable<Opera.Models.Question>
@{
    Layout = "_AppLayout";
}

<div class="container_12">
    <div class="grid_7 results">
        @foreach(var item in Model)
        {
            <div class="result-item">
                <h2><a href="question/@item.QuestionId">@item.QuestionTitle</a></h2>
                <p>@item.QuestionDescription</p>
                <br/>
            </div>
        }
    </div>
</div>

