@model IQueryable<Opera.Models.Question>
@{
    Layout = "_AppLayout";
}

<div class="container_12">
    <div class="push_1 grid_7 results">
        @foreach(var item in Model)
        {
            <div class="main-page-item">
                <h2><a href="question/@item.QuestionId">@item.QuestionTitle</a></h2>
                <br/>
            </div>
        }
    </div>
</div>

