@model Opera.ViewModels.PaginationViewModel
@{
    Layout = "_AppLayout";
}

<div class="container_12">
    <div class="push_1 grid_7 results">
        @if(Model.Questions.Count() > 0)
        {
            @foreach(var item in Model.Questions)
            {
                <div class="main-page-item">
                    <h2><a href="question/@item.QuestionId">@item.QuestionTitle.Substring(0, 1).ToUpper()@item.QuestionTitle.Substring(1, @item.QuestionTitle.Length-1)</a></h2>
                    <br/>
                </div>
            }
        } 
        else 
        {
            <h1 class="nm">"There are no matches :("</h1>
        }
        
        @if(Model.AmmountOfPages > 0)
        {
            for (int i = 0; i <= (Model.AmmountOfPages == 1 ? -1 : Model.AmmountOfPages); i++)
            {
                @if(i == 0){
                    <a>@(i+1)</a>    
                }
                else{
                    <a href="~/search/@ViewBag.Query/@i">@(i+1)</a>
                }
            }
        }

    </div>
    <div class="push_2 grid_3">
        <div class="ask-button">
            <a href="/ask">Ask!</a>
        </div>
    </div>
</div>

