body{
    min-width: 1000px;
    padding-bottom: 100px;
    font-family: Yantramanav;
}

.nav-section{
    background: #18a7dc;
    background-image: url(../img/static/circuit-board.svg);
    height: 80px;
    width: 100%;
    padding-top: 60px !important;
    color:white;
    overflow: hidden;
    margin-bottom: 60px;
}

.nav-section a {
    text-decoration: none;
    color:white;
}

.menu a{
    padding: 10px 20px;
}

.menu form {
    display: inline;
    font-family: inherit;
}

.menu form button{
    cursor: pointer;
    padding: 11px 20px;
    position: absolute;
    background: transparent;
    font-family: inherit;
    color: white;
    border: none;
    margin-left: 4px;
    margin-top: -11px;
}

.menu a:hover, .menu form button:hover{
    background:#0d678879;
}

.nav-section form input[type=text]{
    padding: 12px 20px;
    width: 136%;
    margin-top: -30px;
    border: 7px solid #18a7dcb0;
    border-radius: 1px;
    color: #18a7dc;
}

.ask-button{
    margin-top: 12px;
}
.ask-button a{
    text-decoration: none;
    padding: 14px 30px;
    background: #18a7dc;
    color:white;
    font-size: 30px;
}

.addQuestionForm input[type=text]{
    padding: 10px 20px;
    font-family: Yantramanav;
    min-width: 100%;
    margin-bottom: 30px;
}

.addQuestionForm textarea{
    padding: 20px 21px;
    height: 200px;
    resize: none;
    overflow-y: auto;
    min-width: 100%;
    font-family: Yantramanav;
    margin-bottom: 21px;
    white-space:pre-wrap;
}

.addQuestionForm button, .answer-form button{
    border:none;
    padding:10px 20px;
    background: #18a7dc;
    font-family: Yantramanav;
    cursor: pointer;
    color: white;
}

.question-box-style{
    padding: 1px 20px 9px 20px;
    border-radius: 2px;
}

.question-box-style h1{
    color: #5fc2e7;
    font-weight: 200;
}

#test {
    margin-bottom: 40px;
}

#test p{
    color: #68a3b9;
    margin-bottom: -14px;
    line-height: 20px;
}

#test img{
    width: 100%;
}

.upvote-box a{
    color: #18a7dc;
    margin-top: 20px;
    border-radius: 1px;
    text-decoration: none;
    border: 1px solid #5fc2e7;
    padding: 1px 10px;
}

.answer-form{
    margin-top: 60px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.answer-form textarea{
    width: 95%;
    height: 100px;
    resize: none;
    margin-bottom: 10px;
}

.answer-form button{
    padding: 8px 10px;
}

.answers-from-users{
    padding-left: 20px;
    padding-top: 20px;
    color: #68a3b9;
}

.single-answer{
    margin-bottom: 70px;
}

.main-page-item h2 a{
    text-decoration: none;
    color: #06a6e2;
    font-weight: 100;
}

.nm{
    font-weight: 300;
    color: #18a7dc;
}

.pagination-item{
    text-decoration: none;
    padding: 4px 8px;
    background: #18a7dc;
    color: white;
    margin-right: 5px;
}

.current{
    background: #59b9dc !important;
}